*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}



header {
    background: #16496e;
    align-content: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
 #containerheader {
    display: flex;
    width: 100%;
    height: 9em;
    align-items: center;
    justify-content: space-around;
 }
 #containerheader img{
    box-shadow: teal;
    width: 13em;
 }

 #listaheader{
    display: flex;
    list-style-type: none;
 }

 #listaheader a{
    text-decoration: none;
    color: #fcfcfc;
    padding: 8px;
    margin: 15px;
    font-size: 1.3em;
 }

 #listaheader a:hover{
    border-bottom: 3px solid rgba(90, 166, 223, 1);
 }

body{
    font-family: Arial, Helvetica, sans-serif;
}

#fotogit{
    border-radius: 100%;
    max-height: 10em;
    max-width: 10em;
    
}


#containerdev {
    justify-content: center;
    text-align: center;
    align-items: center; 
    background-color: #16496e;
    height:30em;
    width: 100%;
}

#containerdev  h1{
    padding-top: 100px;
    padding-bottom: 3px;
    color: #fcfcfc;
    font-size: 50px;
    margin-bottom: 50px;
}

#desenvolvedores { 
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 180px;  
}

#desenvolvedores ul { 
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 180px;
}


#desenvolvedores li{
    flex-direction: row;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    padding: 30px; 
}
#linkimage{
    position: static;
    border-radius: 1000px;
}
#linkimage:hover {
    font-size: 17px;
    transition: all .2s ease-in-out;
}

#paginainicial {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(0deg, rgba(196,210,221,1) 0%, #16496e 85%);;
    height:60em;
    width: 100%;
}

#paginainicial a{
    position: relative;
    z-index: 10;
    margin-top: 150px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid rgba(90, 166, 223, 1); /* Green */
    transition-duration: 0.4s;
    background-color: rgba(90, 166, 223, 1);
    color: #fcfcfc;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    animation: text 7s ease 0s normal forwards;
}

#paginainicial a:hover{
    background-color: #fcfcfc;
    color: rgba(90, 166, 223, 1);
 }


#boxtexto {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -300px;
    align-items: center;
    align-content: center;
    margin-top: -20em;
    margin-right: -550px;
    margin-left: -500px;
    animation: text 4s ease 0s normal forwards;
    
}
#boxtexto h1{
    color: rgba(90, 166, 223, 1);
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 0.3em;
}

#boxtexto p {
    width: 35em;
    text-align: justify;
    letter-spacing: 3px;
    text-indent: 50px;
    font-size: 22px;
}

@keyframes text {
    0.0%{
        transform: scale(0) translate(0px) rotate(0deg);
        opacity: 0;
    }
    49.6%{
        transform: scale(0.5) translate(0px) rotate(0deg);
        opacity: 0;
    }
    100%{
        transform: scale(1) translate(0px) rotate(0deg);
        opacity: 100;
    }
}




#img1cel {
    position: relative;
    margin-top: -1em;
    margin-left: -3em;
    animation: img1cel 5s ease 0s normal forwards;
}
#img2cel {
    position: relative;
    margin-top: -1em;
    margin-left: 3em;
    animation: img2cel 5s ease 0s normal forwards;
}



@keyframes img1cel {
    0.0%{
        
        transform: scale(1.2) translate(-3em) rotate(-2deg);
    }
    100%{
        
        transform: scale(1.2) translate(-30em) rotate(-15deg);
    }
}

@keyframes img2cel {
    0.0%{
        
        transform: scale(1.2) translate(3em) rotate(-2deg);
    }
    100%{
        transform: scale(1.2) translate(30em) rotate(15deg);
    }
}



#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #16496e;
    height:35em;
    width: 100%;
}
#sobre p{
    width: 35em;
    text-align: justify;
    letter-spacing: 3px;
    text-indent: 50px;
    font-size: 22px;
    margin-top: 60px;
}

#sobre h1{
    color: #fcfcfc;
    font-size: 50px;
    margin-left: 290px;
    margin-top: 50px;
}
#sobre2 {
    display: block;
    background-color: rgb(255, 255, 255);;
    height:50em;
    width: 100%;
}
#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #fcfcfc;
    height:40em;
    width: 100%;
}
#conteinervideo{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#conteinervideo h1{
    color: #16496e;
    font-size: 50px;
    margin-top: 50px;
}

object {
    margin: 2px;
    border: 10px solid #16496e;
}

#slidecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #16496e;
    height:50em;
    width: 100%;
}
#slidecontainer a{
    background-color: rgba(90, 166, 223, 1);
    border: 2px solid rgba(90, 166, 223, 1) ;
    color: #fcfcfc;
    padding: 20px 130px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.5s;
}
#slidecontainer a:hover{
    background-color: #fcfcfc;
    color: rgba(90, 166, 223, 1);
 }
 

 #slidecontainer img{
    transition-duration: 0.4s;
    transform: scale(0.8) rotate(15deg);
 }

 #slidecontainer img:hover{
    transition-duration: 0.4s;
    transform: scale(0.8) rotate(10deg);
 }


#slidecontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -100px;
    margin-right: 50px;
}
#slidecontainer2 h1{
    width: 500px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 3px;
    color: #fcfcfc;
    text-shadow: 2px 2px 10px #000000;
}



#buttons{
    background-color: #16496e;
    position: relative;
    z-index: 10;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
    color: black;
    border: 2px solid #16496e; /* Green */
    transition-duration: 0.4s;

}
#buttons:hover{
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #fcfcfc; /* Green */
    color: #16496e;
}

.button2:link, a:visited {
    background-color: #fcfcfc;
    color: #16496e;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

.button2:visited{
    background-color: #fcfcfc;
    color: #16496e;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.button2:hover {
    background-color: #fcfcfc;
    border: 1px solid grey;
 }
.button2:active{
    background-color: #fcfcfc;
    border: 1px solid grey;
}

.button2 {
    display: inline;
    position: absolute;
    margin: 150px 0 0 100px;
 }
 

 #processo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #fcfcfc;
    height:90em;
    width: 100%;
 }

 
 #processo  h1{
    color: #16496e;
    font-size: 50px;
    margin-top: -100px;
 }

 #processo h2 {
    color: #16496e;
    font-size: 20px;
 }

 .grid-container {
    display: grid;
    width: 900px;
    grid-template-columns: auto auto auto;
    gap: 10px;

    padding: 10px;
  }
  
  .grid-container > div {
    height:300px;
    background-color: rgba(90, 166, 223, 1);
    border: 5px #16496e;
    border-style: solid;
    box-shadow: 1px 10px 10px rgb(114, 114, 114);
    text-align: center;
    border-radius: 15px;
    padding: 20px 0;
    margin: 20px;
    font-size: 30px;
  }


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.item h6{
    font-size: 25px;
    color: #fcfcfc;
    margin-top: 15px;
}
.item img{
    width: 200px;
    margin-top: 30px;
    font-size: 20px;
    box-shadow: 1px 2px 10px #16496e;
}

.item a{
    background-color: #fcfcfc;
    border: 2px solid #fcfcfc ;
    color: rgba(90, 166, 223, 1);
    padding: 5px 5px;
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 1px 2px 10px #16496e;
}
.item a:hover{
    background-color: rgba(90, 166, 223, 1);
    color: #fcfcfc;
 }
